# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json
notARepository: "skip"
promptToReturnFromSubprocess: false

gui:
  nerdFontsVersion: "3"
  skipDiscardChangeWarning: false
  skipStashWarning: true
  skipNoStagedFilesWarning: false
  commitLength:
    show: true
  scrollHeight: 1
  scrollOffMargin: 5
  screenMode: half
  showPanelJumps: false
  showRandomTip: false
  statusPanelView: allBranchesLog
  showBottomLine: false
  commandLogSize: 2

git:
  log:
    showGraph: always
    showWholeGraph: false
  branchLogCmd: 'git log --graph --color=always --abbrev-commit --decorate --date=relative --pretty=format:"%C(auto)%h: %s (%C(blue)%an %C(white)| %C(cyan)%ad%C(white))" {{branchName}} --'
  paging:
    # Delta
    pager: delta --dark --paging=never
    # Difftastic
    # externalDiffCommand: difft --color=always --display=inline
  skipHookPrefix: WIP
  overrideGpg: true

os:
  edit: "$EDITOR {{filename}}"
  editAtLine: "$EDITOR -g --block {{filename}}:{{line}}"
  editInTerminal: false
  openDirInEditor: "$EDITOR {{dir}}"
  open: "open {{filename}}"

keybinding:
  universal:
    # return: <left> TODO: problem with text inputs
    goInto: <right>
    prevBlock: <disabled>
    nextBlock: <disabled>

customCommands:
  - key: "R"
    command: "gh repo view --web"
    description: "view repo on github"
    context: "global"
    loadingText: "opening github..."

  - key: "F"
    command: "git push --force-with-lease --no-verify"
    context: "localBranches"

  # Commit with commitizen
  - key: "C"
    command: 'git commit -m "{{ .Form.Type }}{{if .Form.Scopes}}({{ .Form.Scopes }}){{end}}: {{ .Form.Description }}"'
    description: "commit with commitizen"
    context: "files"
    prompts:
      - type: "menu"
        title: "Select the type of change you are committing."
        key: "Type"
        options:
          - name: "feat"
            value: "feat"
          - name: "refactor"
            value: "refactor"
          - name: "fix"
            value: "fix"
          - name: "chore"
            value: "chore"
          - name: "test"
            value: "test"
          - name: "build"
            value: "build"
          - name: "ci"
            value: "ci"
          - name: "docs"
            value: "docs"
          - name: "style"
            value: "style"
          - name: "perf"
            value: "perf"
          - name: "revert"
            value: "revert"
      - type: "input"
        title: "Enter the scope(s) of this change."
        key: "Scopes"
      - type: "input"
        title: "Enter the short description of the change."
        key: "Description"
      - type: "confirm"
        title: "Is the commit message correct?"
        body: "{{ .Form.Type }}{{if .Form.Scopes}}({{ .Form.Scopes }}){{end}}: {{ .Form.Description }}"
    output: terminal

  # Blame via Tig
  - key: b
    command: tig blame -- {{.SelectedFile.Name}}
    context: files
    description: blame file at tree
    output: terminal

  - key: b
    command: tig blame {{.SelectedSubCommit.Sha}} -- {{.SelectedCommitFile.Name}}
    context: commitFiles
    description: blame file at revision
    output: terminal

  - key: B
    command: tig blame -- {{.SelectedCommitFile.Name}}
    context: commitFiles
    description: blame file at tree
    output: terminal

  # Browse files at revision via Tig
  - key: t
    command: tig show {{.SelectedSubCommit.Sha}}
    context: subCommits
    description: tig commit (`t` again to browse files at revision)
    output: terminal

  - key: t
    command: tig show {{.SelectedLocalBranch.Name}}
    context: localBranches
    description: tig branch (`t` again to browse files at revision)
    output: terminal

  - key: t
    command: tig show {{.SelectedRemoteBranch.RemoteName}}/{{.SelectedRemoteBranch.Name}}
    context: remoteBranches
    description: tig branch (`t` again to browse files at revision)
    output: terminal

  # File histroy via Tig
  - key: t
    command: tig {{.SelectedSubCommit.Sha}} -- {{.SelectedCommitFile.Name}}
    context: commitFiles
    description: tig file (history of commits affecting file)
    output: terminal

  - key: t
    command: tig -- {{.SelectedFile.Name}}
    context: files
    description: tig file (history of commits affecting file)
    output: terminal
