[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-ifplatform"]
	path = dotbot-ifplatform
	url = https://github.com/ssbanerje/dotbot-ifplatform.git

[submodule "modules/vscode/theme/true-vibrant-vscode-theme"]
	path = modules/vscode/theme/true-vibrant-vscode-theme
	url = git@github.com:Yoshintame/true-vibrant-vscode-theme.git
[submodule "modules/karabiner/config"]
	path = modules/karabiner/config
	url = git@github.com:Yoshintame/karabiner-config.git
[submodule "modules/yazi/config/plugins/glow.yazi"]
	path = modules/yazi/config/plugins/glow.yazi
	url = https://github.com/Reledia/glow.yazi.git
