version: 1

urls:
  - tgram://{{.TELEGRAM_BOT_TOKEN}}/{{.TELEGRAM_CHAT_ID}}/:
      tag:
        - backup-success
        - backup-fail
        - backup-info

  - mailto://{{.GMAIL_USER}}:{{.GMAIL_APP_PASSWORD}}@gmail.com:
      tag:
        - backup-fail

  # development-backup check (30-min period, 1h grace)
  - forms://hc-ping.com/{{.HC_DEVELOPMENT_BACKUP_UUID}}?method=GET&:version=&:title=&:message=&:type=:
      tag:
        - hc-development-backup-success

  - forms://hc-ping.com/{{.HC_DEVELOPMENT_BACKUP_UUID}}/fail?method=GET&:version=&:title=&:message=&:type=:
      tag:
        - hc-development-backup-fail

  # home-backup check (1-day period, 6h grace)
  - forms://hc-ping.com/{{.HC_HOME_BACKUP_UUID}}?method=GET&:version=&:title=&:message=&:type=:
      tag:
        - hc-home-backup-success

  - forms://hc-ping.com/{{.HC_HOME_BACKUP_UUID}}/fail?method=GET&:version=&:title=&:message=&:type=:
      tag:
        - hc-home-backup-fail

  # copy-to-b2 check (3h period, 3h grace)
  - forms://hc-ping.com/{{.HC_COPY_TO_B2_UUID}}?method=GET&:version=&:title=&:message=&:type=:
      tag:
        - hc-copy-to-b2-success

  - forms://hc-ping.com/{{.HC_COPY_TO_B2_UUID}}/fail?method=GET&:version=&:title=&:message=&:type=:
      tag:
        - hc-copy-to-b2-fail

  # maintenance checks (weekly period, 1-day grace)
  - forms://hc-ping.com/{{.HC_MAINT_LOCAL_UUID}}?method=GET&:version=&:title=&:message=&:type=:
      tag:
        - hc-maint-local-success

  - forms://hc-ping.com/{{.HC_MAINT_LOCAL_UUID}}/fail?method=GET&:version=&:title=&:message=&:type=:
      tag:
        - hc-maint-local-fail

  - forms://hc-ping.com/{{.HC_MAINT_B2_SUCCESS_UUID}}?method=GET&:version=&:title=&:message=&:type=:
      tag:
        - hc-maint-b2-success

  - forms://hc-ping.com/{{.HC_MAINT_B2_FAIL_UUID}}?method=GET&:version=&:title=&:message=&:type=:
      tag:
        - hc-maint-b2-fail
