HC_DEVELOPMENT_BACKUP_UUID=${HC_DEVELOPMENT_BACKUP_UUID}
HC_HOME_BACKUP_UUID=${HC_HOME_BACKUP_UUID}
HC_COPY_TO_B2_UUID=${HC_COPY_TO_B2_UUID}
HC_MAINT_LOCAL_UUID=${HC_MAINT_LOCAL_UUID}
HC_MAINT_B2_UUID=${HC_MAINT_B2_UUID}
