set -gx RAINDROP_ACCESS_TOKEN ${RAINDROP_ACCESS_TOKEN}
set -gx YNAB_ACCESS_TOKEN ${YNAB_ACCESS_TOKEN}
set -gx TICKTICK_CLIENT_ID ${TICKTICK_CLIENT_ID}
set -gx TICKTICK_CLIENT_SECRET ${TICKTICK_CLIENT_SECRET}
set -gx TICKTICK_ACCESS_TOKEN ${TICKTICK_ACCESS_TOKEN}
